body 
{
    font-family: 'Special Elite', cursive;
    background: #f5dbda;
    text-align: center;
}

.header_div
{
    background-color: rgb(241, 157, 101);
    color: white;
}

.header_div img
{
    width: 80px;
    border-radius: 100%;
}

.footer_div img
{
    width: 80px;
    border-radius: 100%;
}

.footer_div
{
    background-color: white;
    margin-bottom: 50px;
    width: 600px;
    margin-top: 100px;
    text-align: left;
    margin-left: 10px;
    border-radius: 10%;
}

.main_div
{
    background: #ffd2c7;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}

.main_div label
{
    background: white;
    padding: 10px;
    width: 310px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px rgba(248, 194, 169, 0.856);
}

#camera, #preview 
{
    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px white;
}

.main_div button
{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
}

.copy_right_footer
{
    width: 100%;
    bottom: 0;
    line-height: 3;
    text-align: center;
    position: fixed;
    background-color: wheat;
}